.wrapper {
    background: var(--mfc-background-secondary);
    display: grid;

    align-content: stretch;
    height: 100%;
}

.verticalTabs {
    display: flex;
    max-height: 100%;

    width: 100%;
    padding: 8px;
    overflow-y: auto;
}

.tab {
    width: 100%;
    padding: 0 10%;
}
.tabs{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.baseTab{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
}
.article{
    height: 100%;
    display: grid;
    align-content: flex-start;
}