.wrapper {
    background: var(--mfc-background-secondary);
    display: grid;

    align-content: stretch;
    height: 100%;
}

.verticalTabs {
    display: flex;
    max-height: 100%;

    width: 100%;
    padding: 8px;
    overflow-y: auto;
}

.tab {
    width: 100%;
    padding: 0 10%;
}
.tabs{
    display: grid;
    gap: 16px;
    padding-bottom: 10vh;
}