.wrapper {
    background: var(--mfc-background-secondary);
    display: grid;

    align-content: stretch;
    height: 100%;
}

.verticalTabs {
    display: flex;
    max-height: 100%;

    width: 100%;
    padding: 8px;
}

.tab {
    width: 100%;
    padding: 0 10%;
}