.wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: calc(100vh - 16px);
    overflow-y: auto;
    padding: 0 8px;
}

.half {
    height: calc(100vh - 16px);
    width: 50%;
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.title {
    font-weight: bold;
    /*width: ;*/
    font-size: 3rem;
}

.npmLink {
    border-radius: 5px;
    border: var(--mfc-border-secondary) 1px solid;
    padding: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    /*background: var(--mfc-background-tertiary);*/
    font-weight: bold;
    background: #0095ff;
    font-size: 1.1rem;
    height: 50px;
}

.description {
    align-items: flex-start;
    background: var(--mfc-background-primary);
    border-radius: 5px;
    border: var(--mfc-border-primary) 1px solid;
}

.links {
    padding: 16px;
    display: flex;
    gap: 16px;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--mfc-color-secondary);
}


.examplesWrapper {
    background: var(--mfc-background-tertiary);
    border-radius: 8px;
    border: var(--mfc-border-primary) 1px solid;
    padding: 8px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

.examplesWrapper::before {
    content: attr(data-label);
    position: absolute;
    top: calc(-1rem - 8px);
    font-size: 1rem;
    font-weight: bold;
    color: var(--mfc-color-secondary);
}